node_modules/**
.idea/**
.turbo/**

.DS_Store
Thumbs.db

**/node_modules/**
**/.turbo/**
deploy/container-images/**
**/secret/**
.env
*.rdb

**/dist/**
*.tsbuildinfo

gel.local.toml
.devcontainer/volumes
config/**/*.env
config/**/*.json
config/**/*.pem
config/**/*.conf
!config/**/*.env.tpl
!config/**/*.json.tpl
!config/**/*.pem.tpl
!config/**/*.conf.tpl
