@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --heartspace: #3badbf;
        --mainspace: #ce5a4b;
        --george-porter: #2e3bad;

        --background: #fefbfb;
        --foreground: #0d0402;
        --muted: #eef1f2;
        --muted-foreground: #666666;
        --popover: #fdf8f7;
        --popover-foreground: #090202;
        --card: #fdf8f7;
        --card-foreground: #090202;
        --border: #e9e7e7;
        --input: #e9e7e7;
        --primary: #ce5a4b;
        --primary-foreground: #ffffff;
        --secondary: #b1b1b1;
        --secondary-foreground: #000000;
        --accent: #f5f5f4;
        --accent-foreground: #555351;
        --destructive: #d63600;
        --destructive-foreground: #ffffff;
        --navbar: #fef9fa;
        --navbar-foreground: #09090b;
        --ring: #ce5a4b;

        --radius: 0.5rem;

        --font-sans: Roboto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

        /* SignInsChart.tsx specific stuff */
        /* The chart's background */
        #sign-in-chart>div>div>svg>rect {
            fill: var(--background) !important;
        }

        /* Any text in the chart*/
        #sign-in-chart>text {
            fill: var(--foreground) !important;
            font-family: var(--font-sans) !important;
        }

        /* The individual rectangles in the chart */
        #sign-in-chart g rect[x][y][width][height][style] {
            rx: var(--radius);
            stroke: var(--background) !important;
        }

        /* The lines that bind months together */
        #sign-in-chart>div>div>svg>g>path {
            stroke: var(--background) !important;
            stroke-width: 0px !important;
        }

        /* The legend text */
        #sign-in-chart>div>div>svg>g>text {
            fill: var(--foreground) !important;
            font-family: var(--font-sans) !important;
        }

        /* The on-hover pop-up */
        #sign-in-chart>div>div>div>div {
            background: var(--background) !important;
            color: var(--foreground) !important;
        }

        /* The text for the pop-up */
        #sign-in-chart>div>div>div>div>div>span {
            color: var(--foreground) !important;
            font-family: var(--font-sans) !important;
        }

        /* Otherwise this doesn't show as clickable */
        #training-content a {
            color: var(--primary)
        }
    }

    .dark {
        --background: #080302;
        --foreground: #faf9f9;
        --muted: #0d1111;
        --muted-foreground: #a6b3b5;
        --popover: #0c0403;
        --popover-foreground: #fdfcfc;
        --card: #0c0403;
        --card-foreground: #fdfcfc;
        --border: #1e1b1a;
        --input: #1e1b1a;
        --primary: #ce5a4b;
        --primary-foreground: #ffffff;
        --secondary: #b1b1b1;
        --secondary-foreground: #000000;
        --accent: #292524;
        --accent-foreground: #cfcfcf;
        --destructive: #e63900;
        --destructive-foreground: #ffffff;
        --navbar: #171717;
        --navbar-foreground: #f2f2f2;
    }
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}